DebugTools/USBDebug/USBDebug.cbp
DebugTools/USBDebug/USBDebug.depend
DebugTools/USBDebug/USBDebug.layout
DebugTools/USBDebug/bin/*
DebugTools/USBDebug/obj/*

Robocup_RadioBase_V1_0/Debug/*
Robocup_RadioBase_V1_0/src/sysbios/sysbios.a28L
Robocup_RadioBase_V1_0/.config/

RobocupV2_1/Debug/*
RobocupV2_1/src/sysbios/sysbios.a28L